<html>

<head>
    <title>Nioh-Game</title>
    <meta charset="utf-8">
    {% load static %}
</head>

<body>
    <table width="800" align="center">
        <tr>
            <td>
                <table bgcolor="#000000" width="100%" height="180">
                    <tr>
                        <td align="center" valign="middle">
                            <img src="{% static 'nioh-wiki.png' %}" width="300">
                        </td>
                    </tr>
                </table>                
                    <p align="justify"><strong><em>Nioh</em></strong> — компьютерная игра, разработанная японской студией Team Ninja, 
                        в жанре action/RPG с историческим уклоном. Игра издана компаниями Koei Tecmo и Sony Interactive Entertainment для PlayStation 4. Изначально игра была анонсирована как Oni в 2004 году. 
                        В сентябре 2015 игра была вновь представлена публике с новым названием Nioh. 7 ноября 2017 года была выпущена версия Nioh для Windows.
                        События игры разворачиваются в Японии в период Сэнгоку. Прототипом главного героя стал Уильям Адамс — английский мореплаватель, сыгравший свою роль в истории Японии.</p>
                    <img align="left" src="{% static 'info.jpeg' %}" width="300" />
                    <p align="justify">Геймплей игры в целом схож с серией игр Dark Souls, прежде всего системой ближнего боя, а также уровнем сложности, когда можно быстро умереть, 
                        если не соблюдать осторожность. Бой в режиме реального времени с различными типами оружия, такими как катана, копья, топоры, луки и фитильные ружья Танэгасима. 
                        В рукопашной игрок может переключиться между тремя главными стойками — низкая стойка, позволяющая совершать быстрые, но слабые атаки, верхняя стойка с медленными
                         и мощными атаками, и средняя стойка, являющаяся промежуточным вариантом между верхней и нижней. Большинство действий Уильяма (такие как атака, спринт, уворачивание) 
                         истощают шкалу энергии Ки — аналога выносливости. Полностью истощив шкалу, Уильям на определённое время становится беспомощным против вражеских атак. 
                         Однако, вовремя применённое действие «импульс Ки» может восстановить потерянную выносливость. За бои игрок получает опыт, который может потратить на развитие умений персонажа и магии (например, наделение оружия стихийными свойствами).
                        Nioh позволяет игрокам выбирать между более высокой частотой кадров или более высоким разрешением дисплея, подобным опциям, предлагаемым игрокам на PC, в зависимости от того, предпочитают ли они производительность или же графику.</p>
                    <a href="{% url 'all_chars' %}" ><h3>Персонажи вселенной</h3></a>
                    <table bgcolor="#ffffff" width="100%" cellpadding="15">                
                        <tr cellpadding="5">
                            <td colspan="4">
                                <hr>
                            </td>
                        </tr>
                        <tr height="50">
                            <td valign="middle" colspan="3">
                                Все используемые материалы взяты с <a href="https://ru.wikipedia.org/wiki/Nioh"> Википедии</a>
                            </td>
                            <td valign="middle" align="right">
                                <a href="{% url 'about_path' %}">Kiber One, 2022</a>
                            </td>
                        </tr>
                    </table>
            </td>
        </tr>
    </table>
</body>

</html>